In [588]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [589]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1145,tt0301470,17000000,63102666,Jeepers Creepers 2,Ray Wise|Jonathan Breck|Garikayi Mutambirwa|Er...,Victor Salva,He can taste your fear.,After 23 horrifying days of gorging on human f...,104,Horror|Thriller,United Artists|American Zoetrope|Myriad Pictur...,8/8/2003,5.4,2003
329,tt1300851,8000000,10629321,The Boondock Saints II: All Saints Day,Sean Patrick Flanery|Norman Reedus|Billy Conno...,Troy Duffy,The Saints Are Calling,Skillfully framed by an unknown enemy for the ...,118,Action|Thriller|Crime,Chris Brinker Productions|Stage 6 Films,11/24/2009,5.9,2009
462,tt0977855,22000000,24188922,Fair Game,Naomi Watts|Sean Penn|Ty Burrell|Brooke Smith|...,Doug Liman,Wife. Mother. Spy.,Wife and mother Valerie Plame (Naomi Watts) ha...,108,Drama|Thriller,River Road Entertainment|Participant Media,5/20/2010,6.4,2010
198,tt2980648,22000000,88880821,The Hundred-Foot Journey,Helen Mirren|Manish Dayal|Om Puri|Charlotte Le...,Lasse HallstrÃ¶m,Life's greatest journey begins with the first ...,A story centered around an Indian family who m...,122,Drama,Amblin Entertainment|Harpo Films|Participant M...,8/6/2014,7.2,2014
848,tt1464174,32000000,83615414,"Big Mommas: Like Father, Like Son",Portia Doubleday|Martin Lawrence|Brandon T. Ja...,John Whitesell,Momma's got back-up.,FBI agent Malcolm Turner and his 17-year-old s...,107,Crime|Comedy|Action,Twentieth Century Fox Film Corporation|Regency...,2/16/2011,5.4,2011

In [590]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [591]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

In [592]:
data['profit'] = data.revenue - data.budget

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [593]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [594]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [595]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [596]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [597]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [598]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [599]:
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [600]:
answers['4'] = 110

In [601]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [602]:
answers['5'] = 107

In [603]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [604]:
answers['6'] = 'Avatar (tt0499549)'

In [605]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [606]:
answers['7'] = 'The Lone Ranger (tt1210819)'

In [607]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [608]:
answers['8'] = 1478

In [609]:
len(data[data.profit >0].imdb_id.unique())

1478

In [610]:
data[data.profit >0].imdb_id.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [611]:
answers['9'] = 'The Dark Knight (tt0468569)'

In [612]:
data_2008 = data[data.release_year == 2008]
data_2008[data_2008.profit == data_2008.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

In [613]:
data[data.release_year == 2008].sort_values('profit', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [614]:
data[(2014 >= data.release_year) & (data.release_year >= 2012)].sort_values('profit', ascending=True).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [615]:
answers['10'] = 'The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [616]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
genres_set = set()

for s in data.genres:
    genres_set.update(set(s.split("|")))
    
genres_dict = dict()

for genres in genres_set:
    genres_dict[genres] = 0

for genres in data.genres:
    genre = genres.split("|")
    for g in genre:
        genres_dict[g] += 1
        
max(genres_dict, key=genres_dict.get)

'Drama'

In [617]:
data11 = data.copy()
data11['genres'] = data['genres'].str.split("|")
data11 = data11.explode('genres')
data11.groupby("genres")["imdb_id"].count().sort_values().tail(1)

genres
Drama    782
Name: imdb_id, dtype: int64

In [618]:
answers['11'] = 'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [619]:

data_profit = data[data.profit >0]
genres_set = set()

for s in data_profit.genres:
    genres_set.update(set(s.split("|")))
    
genres_dict = dict()

for genres in genres_set:
    genres_dict[genres] = 0

for genres in data_profit.genres:
    genre = genres.split("|")
    for g in genre:
        genres_dict[g] += 1
        
display(max(genres_dict, key=genres_dict.get))

'Drama'

In [620]:
data12 = data[data.profit >0].copy()
data12['genres'] = data['genres'].str.split("|")
data12 = data12.explode('genres')
data12.groupby("genres")["imdb_id"].count().sort_values().tail(1)

genres
Drama    560
Name: imdb_id, dtype: int64

In [621]:
answers['12'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [622]:
data13 = data.copy()
director_set = set()

for s in data13.director:
    director_set.update(set(s.split("|")))
    
director_dict = dict()

for d in director_set:
    director_dict[d] = 0
        
data13['director'] = data13['director'].str.split("|")
data13 = data13.explode('director')
for i in data13.iterrows():
    director_dict[i[1]['director']] += i[1]['profit']
    
display(max(director_dict, key=director_dict.get))

'Peter Jackson'

In [623]:
data13 = data.copy()
data13['director'] = data['director'].str.split("|")
data13 = data13.explode('director')
data13.groupby("director")["revenue"].sum().sort_values().tail(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

In [624]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [625]:
data14 = data.copy()
director_set = set()

for s in data14.director:
    director_set.update(set(s.split("|")))
    
director_dict = dict()

for d in director_set:
    director_dict[d] = 0

data14['director'] = data14['director'].str.split("|")
data14 = data14.explode('director')    
data14['genres'] = data14['genres'].str.split("|")
data14 = data14.explode('genres')
for i in data14.iterrows():
    if i[1]['genres'] == "Action":
        director_dict[i[1]['director']] += 1
        
display(max(director_dict, key=director_dict.get))
display(director_dict[max(director_dict, key=director_dict.get)])

'Robert Rodriguez'

9

In [626]:
data14 = data.copy()
data14['director'] = data['director'].str.split("|")
data14 = data14.explode('director')
data14['genres'] = data['genres'].str.split("|")
data14 = data14.explode('genres')
data14[data14.genres == 'Action'].groupby("director")["imdb_id"].count().sort_values().tail(1)

director
Robert Rodriguez    9
Name: imdb_id, dtype: int64

In [627]:
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [628]:
data15 = data[data.release_year == 2012].copy()
data15['cast'] = data['cast'].str.split("|")
data15 = data15.explode('cast')
data15.groupby("cast")["revenue"].sum().sort_values().tail(1)

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

In [629]:
data15 = data.copy()
data15 = data15[data15.release_year == 2012]
data15['cast'] = data['cast'].str.split("|")
data15 = data15.explode('cast')
cast_set = set()
 
for s in data15.cast: 
    cast_set.add(s)
       
cast_dict = dict()

for c in cast_set:
    cast_dict[c] = 0

for i in data15.iterrows():
    cast_dict[i[1]['cast']] += i[1]['revenue']



display(max(cast_dict, key=cast_dict.get))
display(cast_dict[max(cast_dict, key=cast_dict.get)])

'Chris Hemsworth'

2027450773

In [630]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [631]:
data16 = data.copy()
data16['cast'] = data['cast'].str.split("|")
data16 = data16.explode('cast')
cast_set = set()
 
for s in data16.cast: 
    cast_set.add(s)
       
cast_dict = dict()

for c in cast_set:
    cast_dict[c] = 0

for i in data16.iterrows():
    if i[1]['budget'] > data.budget.mean():
        cast_dict[i[1]['cast']] += 1


display(max(cast_dict, key=cast_dict.get))
display(cast_dict[max(cast_dict, key=cast_dict.get)])

'Matt Damon'

18

In [632]:
data16 = data[data.budget > data.budget.mean()].copy()
data16['cast'] = data['cast'].str.split("|")
data16 = data16.explode('cast')
data16.groupby("cast")["imdb_id"].count().sort_values().tail(1)

cast
Matt Damon    18
Name: imdb_id, dtype: int64

In [633]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [634]:
data17 = data.copy()
data17['cast'] = data['cast'].str.split("|")
data17 = data17.explode('cast')
data17['genres'] = data17['genres'].str.split("|")
data17 = data17.explode('genres')
genres_set = set()
 
for s in data17.genres: 
    genres_set.add(s)
       
genres_dict = dict()

for g in genres_set:
    genres_dict[g] = 0

for i in data17.iterrows():
    if i[1]['cast'] == 'Nicolas Cage':
        genres_dict[i[1]['genres']] += 1


display(max(genres_dict, key=genres_dict.get))
display(genres_dict[max(genres_dict, key=genres_dict.get)])

'Action'

17

In [635]:
data17 = data.copy()
data17['cast'] = data['cast'].str.split("|")
data17 = data17.explode('cast')
data17['genres'] = data17['genres'].str.split("|")
data17 = data17.explode('genres')
data17[data17.cast == 'Nicolas Cage'].groupby("genres")["imdb_id"].count().sort_values().tail(1)

genres
Action    17
Name: imdb_id, dtype: int64

In [636]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [637]:
data18 = data.copy()
data18['production_companies'] = data['production_companies'].str.split("|")
data18 = data18.explode('production_companies')
data18[data18.production_companies == 'Paramount Pictures'].sort_values('profit').head(1).original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

In [638]:
answers['18'] = 'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [639]:
data.groupby("release_year")["revenue"].sum().sort_values().tail(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

In [640]:
answers['19'] = 2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [641]:
WB = ['New Line Cinema', 'Warner Bros.', 'Warner Bros. Pictures', 'Warner Bros. Animation', 'Warner Bros. Interactive Entertainment', 'DC Comics']
data20 = data.copy()
data20['production_companies'] = data['production_companies'].str.split("|")
data20 = data20.explode('production_companies')
data20[data20.production_companies.isin(WB)].groupby("release_year")["profit"].sum().sort_values().tail(1)

release_year
2014    4109488775
Name: profit, dtype: int64

In [642]:
answers['20'] = 2015

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [643]:
films_per_month = dict()
for i in range(1, 13):
    films_per_month[str(i)] = 0
for i in data.iterrows():
    films_per_month[i[1]['release_date'][:i[1]['release_date'].find('/')]] += 1


display(max(films_per_month, key=films_per_month.get))

'9'

In [644]:
from datetime import datetime
data21 = data.copy()
def getmonth(date):
    date_time_obj = datetime.strptime(date, '%m/%d/%Y')
    return date_time_obj.month
data21['release_month'] = data21.release_date.apply(getmonth)
data21.groupby("release_month")["imdb_id"].count().sort_values().tail(1)

release_month
9    227
Name: imdb_id, dtype: int64

In [645]:
answers['21'] = 'Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [646]:
films_per_month['6'] + films_per_month['7'] + films_per_month['8']

450

In [647]:
summer = [6, 7, 8]
from datetime import datetime
data22 = data.copy()
def getmonth(date):
    date_time_obj = datetime.strptime(date, '%m/%d/%Y')
    return date_time_obj.month
data22['release_month'] = data22.release_date.apply(getmonth)
data22[data22.release_month.isin(summer)].count().sort_values().tail(1)

release_month    450
dtype: int64

In [648]:
answers['22'] = 450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [649]:
from datetime import datetime
def getmonth(date):
    date_time_obj = datetime.strptime(date, '%m/%d/%Y')
    return date_time_obj.month


data23 = data.copy()
data23['director'] = data['director'].str.split("|")
data23 = data23.explode('director')
winter = [12, 1, 2]
data23['release_month'] = data23.release_date.apply(getmonth)
data23['winter'] = data23.release_month.isin(winter)
data23.groupby("director")["winter"].sum().sort_values().tail(1)

director
Peter Jackson    7
Name: winter, dtype: int64

In [650]:
data23[data23.release_month.isin(winter)].groupby("director")["imdb_id"].count().sort_values().tail(1)

director
Peter Jackson    7
Name: imdb_id, dtype: int64

In [651]:
data23 = data.copy()
director_set = set()

for s in data23.director:
    director_set.update(set(s.split("|")))
    
director_dict = dict()

for d in director_set:
    director_dict[d] = 0

data23['director'] = data23['director'].str.split("|")
data23 = data23.explode('director')    
for i in data23.iterrows():
    if i[1]['release_date'][:i[1]['release_date'].find('/')] in ['12', '1', '2']:
        director_dict[i[1]['director']] += 1
        
display(max(director_dict, key=director_dict.get))
display(director_dict[max(director_dict, key=director_dict.get)])

'Peter Jackson'

7

In [652]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [653]:
data24 = data.copy()
data24['production_companies'] = data['production_companies'].str.split("|")
data24 = data24.explode('production_companies')
data24['original_title'] = data24.original_title.apply(lambda i : len(i))
data24.groupby("production_companies")["original_title"].mean().sort_values().tail(1)

production_companies
Four By Two Productions    83.0
Name: original_title, dtype: float64

In [654]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [655]:
data25 = data.copy()
data25['production_companies'] = data['production_companies'].str.split("|")
data25 = data25.explode('production_companies')
data25['overview'] = data25.overview.apply(lambda i : len(i))
data25.groupby("production_companies")["overview"].mean().sort_values().tail(1)

production_companies
Midnight Picture Show    1000.0
Name: overview, dtype: float64

In [656]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [657]:
data26 = data.sort_values('vote_average').tail(int(len(data)*0.01)).original_title
data26

155                          The Theory of Everything
863             The Lord of the Rings: The Two Towers
1688                              There Will Be Blood
283                                        Mr. Nobody
1191                                 12 Years a Slave
872                                       The Pianist
128                                         Gone Girl
1800                                          Memento
119                           Guardians of the Galaxy
370                                         Inception
1183                          The Wolf of Wall Street
138                          The Grand Budapest Hotel
1081    The Lord of the Rings: The Return of the King
34                                               Room
118                                      Interstellar
9                                          Inside Out
125                                The Imitation Game
599                                   The Dark Knight
Name: original_title, dtype: object

In [658]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [659]:
from itertools import combinations
data27 = data.copy()
pairs = Counter()
data27['cast'] = data['cast'].str.split("|")
for i in data27.iterrows():
    pairs.update(list(combinations(i[1]['cast'], 2)))
    
pairs.most_common(5)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6)]

In [660]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint '

# Submission

In [661]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2015,
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint '}

In [662]:
# и убедиться что ни чего не пропустил)
len(answers)

27